.header {
    flex: 1;
    display: flex;
    height: 66px;
    text-align: center;
    background: #222;
    padding-top: 8px;
    padding-right: 32px;
    padding-bottom: 8px;
    padding-left: 16px;
    margin: 15px;

}


.logostyle{
    background: #ff7f7f;
    height: 35px;
    width: 35px;
}

.buttonstylelogin{
    margin-left: 10px;
}


.bookshowcontainer{
    flex: 1;
    align-items: flex-end;
}

.container {
    display: flex;
    flex-direction:row;


}

.parent {
    flex: 1;
    flexDirection: 'row';
    justifyContent: 'space-around';
}

.d-flex div{
    padding: 1rem;
    background-color: #33b5e5;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
}

.aParent div {
    float: right;
    clear: none;
    margin-top: 0px;
}